._navbar
{
  position: absolute;
  width: 100%;
  height: 60px;
  background-color: rebeccapurple;
  display: flex;
  gap: 30px;
} 
._unorderedList
{
  list-style-type: none;
  display: flex;
  gap: 20px;
}
._inputTextField
{
  position: relative;
    width: 11cm;
    height: 35px;
    top: 10px;
    border: 1px solid white;
    outline: none;
    border-radius: 50px;
    text-align: center;
    font-size: 15px;
}
._li
{
  color: white;
}